## EvolveTransport uses the Whole Cell pyenv, available in CovertLab/wcEcoli
## Instructions are also included here, in case the user wants a separate pyenv with fewer requirements
##
## How to build a Whole Cell pyenv virtualenv:
## Prepare as needed. Install these packages using your local package
## manager such as brew on macOS:
#   brew install pyenv
#   brew install pyenv-virtualenv
#   brew install pyenv-virtualenvwrapper
#   brew install glpk
#   brew install swig           # needed to install pip CVXcanon
#   brew install suite-sparse   # needed for cvxopt to use glpk
#
## Download and install other packages according to their instructions
#	CPLEX from IBM (free for students)
#
## Create a pyenv with Python 2.7.15.
#   PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install 2.7.15  # if needed
#   pyenv local 2.7.15
#
## Create and select a new python virtual environment:
#   pyenv virtualenv EvolveTransportEnv
#   pyenv local EvolveTransportEnv
#
## Upgrade the installers:
#   pip install --upgrade pip setuptools virtualenv wheel
#
## Pip needs a local numpy before installing the other packages:
#   pip install numpy==1.14.5
#
## For Sherlock:
## See /share/PI/mcovert/installation_notes/scipy_with_openblas.txt on how
## to build scipy from source using a site.cfg file.
#
## Then install all the other packages listed here:
#   CVXOPT_BUILD_GLPK=1 pip install -r requirements.txt --no-binary cvxopt
#   pyenv rehash
#
## Then configure the installed matplotlib as needed, per the instructions in
## https://github.com/CovertLab/wcEcoli/wiki/How-to-set-up-the-runtime-environment-for-the-model

future==0.16.0
futures==3.2.0
ipdb==0.11
ipython==5.7.0  # 6.0+ are for Python 3
ipython-genutils==0.2.0
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.14.5
scipy==1.0.1
Theano==1.0.2
Unum==4.1.4
virtualenv>=16.0.0
